
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  

  body {
    margin: 0;
    padding: 0;
    max-width: 100%; 
  }
  
 
  .container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: orange;
  }
  
  
  .container img {
    max-width: 100%;
    height: 50%;
    background-color: orange;
  }
  
  
  h1 {
    text-align: left;
    margin: 20px 0;
  }
  
  h2 {
    text-align: left;
    margin: 10px 0;
  }
  
  h3 {
    text-align: right;
    margin: 5px 0;
  }
  
  
  h4 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  h5 {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
  }
  
  
  .container h5 {
    text-align: center;
    margin: 20px 0;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  .container img {
    width: calc(20% - 20px);
  }
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .container img {
      width: 100%;
      height: auto;
    }
  
  
    h1, h2, h3, h4, h5 {
      text-align: center;
    }
  }
  
 
  .orange-bg {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
 
  h5.headlines-address {
    margin: 0;
    padding: 20px;
  }
  
 
