h1 {
    color: rgba(192, 127, 28, 0.9);
    border-style: solid;
}

p{
    border-style: solid;
}

body {
    color: white;
    background-color: rgb(226, 169, 115);
}

h3 {
    color: rgba(176, 117, 21, 0.799);
    border-style:solid;
}

ol {
    color: rgb(148, 108, 108);
}
